.sellingTerms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.sellingTerms p {
    width: 60%;
}
.sellingTerms h4 {
    margin: 10px 0px;
}
.linkList a{
    color: blue;
    text-decoration: underline;
}
table {
    border: 1px solid black;
}
table td {
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: small;
}
.hidden {
    display: none;
}
ol {
    text-align: left;
    list-style: upper-roman;
}