.checkoutUL {
    width: 500px;
    border-top: 1px solid black;
}

.checkoutList {
    /* border: 1px solid black; */
    
    margin-top: 5px;
    width: 500px;
    list-style: none;
    display: flex;
    justify-content: space-between;

}

.checkoutTotal {
    border-top: 1px solid black;
    width: 500px;
    text-align: right;
}

.totalPrice {
    border: 1px solid black;
    width: 25vw;
    text-align: right;
}
.confirmationTable {
    border-collapse: collapse;
    width: 25vw;
    border: 1px solid black;
}
.confirmationTable th, td {
    text-align: center;
}
.txtTotalt, .txtSum {
    border-top: 1px solid black;
    font-weight: bold;
}