
@media (min-width: 1001px) {
    .main {
        min-height: max(100vh - 210px);
        padding-top: 150px;
        margin: 0px 50px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;       
    }
}


@media (max-width: 1000px) {
    .main {
        min-height: max(100vh - 210px);
        display: flex;
        justify-content: center;    
        padding-top: 150px;
        width: 100%;

    }
}