.main {
    min-height: max(100vh - 210px);
    padding-top: 150px;
    margin: 0px 50px;
    margin-bottom: 10px;
    background-color: rgba(211, 211, 211, 0.2);
    display: flex;
    justify-content: center;    
    
}