.accountPage {

}

.accountForm {
    
    width: 20%;
    
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 25px;
    

}
.accountForm input {
    margin-top: 10px;
}

.accountForm button {
    margin-top: 10px;
}

.loginCreateAccount {
    margin-top: 30px;
}