/* .Products {
    background-color: rgba(211, 211, 211, 0.2);
    align-items: center;
    
} */
@media (min-width: 1001px) {
    .productList {
        display: flex;
    }
    
}


@media (max-width: 1000px) {
    .productList {
        /* display: flex; */
    }
    .Products {
        width: 100%;
        
    }

}