#updateCredForm {
    margin-left: 25px;
    margin-top: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    
}
#updateCredForm input {
    margin-bottom: 10px;
}
#updateCredForm button {
    margin: 20px 0px;
}
.topButtons {
    display: flex;
    justify-content: center;
    
}
.orderTable {
    width: 800px;
    border: 1px solid rgb(150, 150, 150);
}
.orderTable, .orderTable th {
    border-bottom: 1px solid rgb(150, 150, 150);

}

.orderTable th {
    padding: 5px;    
}
.orderTable td {
    border: none;
}

tbody {
    border-bottom: 1px solid rgb(150, 150, 150);
}
.orderTable {border-collapse: collapse;}

.userOrderHistory {
    border: 1px solid black;
    margin-left: 25px;
    margin-top: 20px;
}

.content {
    display: none;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s ease;
  }
  
.content.active {
display: block;
opacity: 1;
}
  